@charset "UTF";

body{
    color: #ffffff;
}

.main-img{
    background-size: cover;
    background-position: center top;
}

#backimg {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%;
}

.logo{
    margin-top: 2rem;
    color: #ffffff;
}

.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 2rem;
    list-style: none;
}

.main-nav li{
    margin-left: 2rem;
}

.main-nav a{
    color: #ffffff;
}

.main-nav a:hover{
    color: #0bd;
}

.location{
    font-size: 3rem; 
    position: absolute;
    bottom: 3rem;
	left: 1rem;
}

#back-color {
    background-image: linear-gradient(#193278, #7acbe1);
    height: 25rem;
    display: flex;
}

.left {
    width: 50%;
}

.left h1{
    color: #ffffff;
    margin-top: 1rem;
	margin-left: 1rem;
}

.left img{
    width: 80%;
    height: 80%;
    margin-left: 2rem;
}

.right {
    width: 50%;
    text-align: center;
    margin-top: 6rem;
    margin-right: 2rem;
}

.right p {
    color: #ffffff;
    font-size: 1.3rem;
}

#back-color2 {
    background-image: linear-gradient(#7acbe1, #fff000);
    height: 15rem;
    display: flex;
}

.left2 {
    width: 33%;
    text-align : center;
}

.left2 ul{
    list-style: none;
}

.center {
    width: 34%;
    text-align : center;
}

.center ul{
    list-style: none;
}

.right2 {
    width: 33%;
    text-align : center;
}

.right2 ul{
    list-style: none;
}

#back-color3 {
    background-image: linear-gradient(#fff000, #f0821e);
    height: 25rem;
    display: flex;
}

.leftnext {
    width: 50%;
    text-align: center;
    margin-top: 6rem;
    margin-left: 2rem;
}

.leftnext p {
    color: #ffffff;
    font-size: 1.3rem;
}

.rightnext {
    width: 50%;
}

.rightnext h1{
    color: #ffffff;
    margin-top: 1rem;
	margin-right: 1rem;
}

.rightnext img{
    width: 80%;
    height: 80%;
    margin-left: 2rem;
}

#back-color4 {
    background-image: linear-gradient(#f0821e, #ff99ff);
    height: 15rem;
    display: flex;
}

footer {
    background-image: linear-gradient(#ff99ff, #00a9ff);
    text-align: center;
    height: 10rem;
}

.white{
    color: #ffffff;
}

footer #footer_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer #footer_navi li {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 8px;
    padding-left: 8px;
}

footer #footer_navi li:last-child {
    padding: 0 8px;
}

footer small {
    margin-top: 2rem;
    font-size: 2rem;
    display: block;
}

