<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>NBA</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/team.css">
    
    <link rel="stylesheet" href="css/main.css">
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div id="backimg" class="main-img" :style="{ backgroundImage: `url(${imageArena})`}">
            <header class="page-header wrapper">
                <h1 class="logo">NBA</h1>
                <nav>
                    <ul class="main-nav">
                        <li><a href="#">west</a></li>
                        <li><a href="#">east</a></li>
                        <li><a href="user">Mypage</a></li>
                        <li><a href="toppage_afterlogin">Top</a></li>
                    </ul>
                </nav>
            </header>
            <p class="location white">{{team.name}}</p>
        </div>
        <div id="back-color">
            <ul class="primary-nav">
                <li>カンファレンス:{{team.conference}}</li>
                <li>ディビジョン:{{team.division}}</li>
                <li>創設:{{team.founded}}</li>
                <li>本拠地:{{team.base}}</li>
                <li>優勝歴:{{team.championship}}</li>
            </ul>
        </div>
        <div id="back-color2">
            <section class="left">
                <p>アリーナ:{{team.arena}}</p>
                <!--ここにgooglemap導入-->
                <div id="map"></div>
            </section>
            <section class="right">
                <img v-bind:src="imageArena">
            </section>
        </div>
        <div id="back-color3">
            <div>
                <section class="left2">
                    <img v-bind:src="image1">
                </section>
                <section class="right2">
                    <h1>{{team.player1}}</h1>
                        <p>hight and wegit: {{team.player1_hw}}</p>
                        <p>生年月日: {{team.player1_birth}}</p>
                        <p>ドラフト: {{team.player1_start}}年</p>
                        <p>NBA経歴: {{team.player1_pro}}年</p>
                </section>
            </div>
        </div>
        <div id="back-color4">
            <div>
                <section class="left3">
                    <h1>{{team.player2}}</h1>
                        <p>hight and wegit: {{team.player2_hw}}</p>
                        <p>生年月日: {{team.player2_birth}}</p>
                        <p>ドラフト: {{team.player2_start}}年</p>
                        <p>NBA経歴: {{team.player2_pro}}年</p>
                </section>
                <section class="right3">
                    <img v-bind:src="image2" >
                </section>
            </div>
        </div>
        <div id="back-color5">
            <div>
                <section class="left2">
                    <img v-bind:src="image3" >
                </section>
                <section class="right2">
                    <h1>{{team.player3}}</h1>
                        <p>hight and wegit: {{team.player3_hw}}</p>
                        <p>生年月日: {{team.player3_birth}}</p>
                        <p>ドラフト: {{team.player3_start}}年</p>
                        <p>NBA経歴: {{team.player3_pro}}年</p>
                </section>
            </div>
        </div>
        <div id="back-color6">
            <div>
                <section class="left3">
                    <h1>{{team.player4}}</h1>
                        <p>hight and wegit: {{team.player4_hw}}</p>
                        <p>生年月日: {{team.player4_birth}}</p>
                        <p>ドラフト: {{team.player4_start}}年</p>
                        <p>NBA経歴: {{team.player4_pro}}年</p>
                </section>
                <section class="right3">
                    <img v-bind:src="image4">
                </section>
            </div>
        </div>
        <div id="back-color7">
            <div>
                <section class="left2">
                    <img v-bind:src="image5">
                </section>
                <section class="right2">
                    <h1>{{team.player5}}</h1>
                        <p>hight and wegit: {{team.player5_hw}}</p>
                        <p>生年月日: {{team.player5_birth}}</p>
                        <p>ドラフト: {{team.player5_start}}年</p>
                        <p>NBA経歴: {{team.player5_pro}}年</p>
                </section>
            </div>
        </div>
        <div id="back-color8">
            <form class="form-submit">
                <div class = "form-group submit">
                    <input type="text" class="form-control" placeholder="Type a message" v-model="Content">
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type = "button" v-on:click="chatcreate">Submit</button>
                </div>
            </form>
            <div class="commentlist">
                <ul class="commentlist-parent">
                    <li v-for="(chat, index) in chats" :key="index" class="commentlist-child">
                        <div class="comment">
                            <div class="commet-header">
                                <div class="commet-header-contributor">
                                    <div class="commet-header-contributor-icon Avater">
                                        <div class="image_background">
                                            <span class="image-bg" 
                                                  :style="{ backgroundImage: `url(${chat.user.icon_img.url})`}">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="commet-header-contributor-icon-name">
                                        <a href="#" v-on:click="userget(chat.user.user_id)">{{chat.user.name}}</a>
                                    </div>
                                    <div v-if="user.id === chat.user_id" class="delete">
                                        <button class="btn btn-danger" v-on:click="chatdestroy(chat.id)">DELETE</button>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p class="comment-body-text">
                                    {{chat.content}}
                                </p>
                                <div v-if="user.id">
                                    <favorite-button v-bind:user_id="user.id" v-bind:chat="chat"></favorite-button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer>
            <div id="footer_navi">
                <ul>
                    <li><i class="fab fa-twitter fa-3x white"></i></li>
                    <li><i class="fab fa-instagram fa-3x white"></i></li>
                    <li><i class="fab fa-facebook fa-3x white"></i></li>
                    <li><i class="fab fa-google fa-3x white"></i></li>
                </ul>
            </div>
            <small class="white">&copy; 2020 NBA original saite</small>
        </footer>
    </div>

    <!-- まずjQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Popper.js, 次に Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src=js/team.js></script>
    
    <script src=js/api.js></script>
    
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=APIkey"></script>-->
    
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
</body>

</html>
